@import 'tailwindcss';

@theme {
  --font-poppins: 'Poppins', sans-serif;
  --color-primary: #0d6efd;
  --color-secondary: #0d6efd;
  --color-base: #000;

  --radius-appRadius: 10px;

  /* Shadows */
  --shadow-3xl: -15px 15px 24px rgba(22, 51, 102, 0.25);
  --shadow-4xl: 15px 15px 24px rgba(22, 51, 102, 0.25);
  --shadow-linkpreview: 0px 1px 4px #0c0c0d0d;
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
